In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

filepath = "./MinimisedData.csv"
df = pd.read_csv(filepath)
df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Android Version,Latest Version of App
0,Smart Foods Organic Diet Buddy,HEALTH_AND_FITNESS,4.13868618,411,"50,000+",30M,0,Everyone,"May 22, 2015",3.1 and up,3.0.1
1,Google Fit: Health and Activity Tracking,HEALTH_AND_FITNESS,3.801178694,292197,"10,000,000+",Varies with device,0,Everyone,"March 21, 2019",Varies with device,Varies with device
2,Pedometer,HEALTH_AND_FITNESS,4.432419777,469421,"10,000,000+",3.3M,0,Everyone,"March 12, 2019",4.0 and up,5.27
3,"Calorie Counter - MyNetDiary, Food Diary Tracker",HEALTH_AND_FITNESS,4.517380714,30925,"1,000,000+",26M,0,Everyone,"February 22, 2019",5.0 and up,6.9.0
4,Map My Hike GPS Hiking,HEALTH_AND_FITNESS,4.400802612,14451,"1,000,000+",69M,0,Everyone,"April 1, 2019",5.0 and up,19.6.0

In [120]:
len(df)

1297

In [121]:
df = df.dropna()
len(df)

1297

In [122]:
df = df[df.Category == df.Category[1]]
len(df)

801

In [123]:
app_names = df[df.columns[0]]
len(app_names)

801

In [124]:
df = df.drop([df.columns[0], df.columns[1], df.columns[2]], axis=1)
df.head()

,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Android Version,Latest Version of App
0,411,"50,000+",30M,0,Everyone,"May 22, 2015",3.1 and up,3.0.1
1,292197,"10,000,000+",Varies with device,0,Everyone,"March 21, 2019",Varies with device,Varies with device
2,469421,"10,000,000+",3.3M,0,Everyone,"March 12, 2019",4.0 and up,5.27
3,30925,"1,000,000+",26M,0,Everyone,"February 22, 2019",5.0 and up,6.9.0
4,14451,"1,000,000+",69M,0,Everyone,"April 1, 2019",5.0 and up,19.6.0

In [125]:
installs = []
for i in df.Installs:
    installs.append(int(re.sub(r"[,]","",i[:-1])))
df["install"] = installs
df.head()

,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Android Version,Latest Version of App,install
0,411,"50,000+",30M,0,Everyone,"May 22, 2015",3.1 and up,3.0.1,50000
1,292197,"10,000,000+",Varies with device,0,Everyone,"March 21, 2019",Varies with device,Varies with device,10000000
2,469421,"10,000,000+",3.3M,0,Everyone,"March 12, 2019",4.0 and up,5.27,10000000
3,30925,"1,000,000+",26M,0,Everyone,"February 22, 2019",5.0 and up,6.9.0,1000000
4,14451,"1,000,000+",69M,0,Everyone,"April 1, 2019",5.0 and up,19.6.0,1000000

In [126]:
df = df.drop([ df.columns[1]],  axis=1)
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], dtype=object)

In [127]:
encode = {}
k = 0
for i in df['Content Rating'].unique():
    encode[i] = k
    k+=1
encode

{'Everyone': 0, 'Teen': 1, 'Everyone 10+': 2, 'Mature 17+': 3}

In [128]:
content = []
for i in df['Content Rating']:
    content.append(encode[i])
df['Content'] = content

In [129]:
df = df.drop([df.columns[3]],  axis=1)
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30M,0,"May 22, 2015",3.1 and up,3.0.1,50000,0
1,292197,Varies with device,0,"March 21, 2019",Varies with device,Varies with device,10000000,0
2,469421,3.3M,0,"March 12, 2019",4.0 and up,5.27,10000000,0
3,30925,26M,0,"February 22, 2019",5.0 and up,6.9.0,1000000,0
4,14451,69M,0,"April 1, 2019",5.0 and up,19.6.0,1000000,0

In [130]:
size = []
sum = 0
num = 0
for i in df.Size:
    if i == "Varies with device":
        size.append(-1)
    else:
        size.append(float(i[:-1]))
        sum+=float(i[:-1])
        num+=1
avg = sum/num
for i in range(len(size)):
    if size[i]==-1:
        size[i] = avg
df['Size'] = size
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30.000000,0,"May 22, 2015",3.1 and up,3.0.1,50000,0
1,292197,25.270663,0,"March 21, 2019",Varies with device,Varies with device,10000000,0
2,469421,3.300000,0,"March 12, 2019",4.0 and up,5.27,10000000,0
3,30925,26.000000,0,"February 22, 2019",5.0 and up,6.9.0,1000000,0
4,14451,69.000000,0,"April 1, 2019",5.0 and up,19.6.0,1000000,0

In [131]:
df['Last Updated'][5]

'February 25, 2019'

In [132]:
from datetime import datetime
mon = []
for i in df['Last Updated']:
    st = i.split(" ")
    t = datetime.strptime(st[0],"%B")
    k = int(t.strftime("%m"))
    mon.append(12-k+12*(2021 - int(st[-1])))
df['Last Updated'] = mon
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30.000000,0,79,3.1 and up,3.0.1,50000,0
1,292197,25.270663,0,33,Varies with device,Varies with device,10000000,0
2,469421,3.300000,0,33,4.0 and up,5.27,10000000,0
3,30925,26.000000,0,34,5.0 and up,6.9.0,1000000,0
4,14451,69.000000,0,32,5.0 and up,19.6.0,1000000,0

In [133]:
ver = []
sum = 0
num = 0
for i in df['Minimum Android Version']:
    if i == "Varies with device":
        ver.append(-1)
    else:
        ver.append(float(i.split(" ")[0][0]))
        sum+=float(i.split(" ")[0][0])
        num+=1
        
avg = sum/num
for i in range(len(ver)):
    if ver[i] == -1:
        ver[i] = avg
df["Minimum Android Version"] = ver
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30.000000,0,79,3.000000,3.0.1,50000,0
1,292197,25.270663,0,33,4.142857,Varies with device,10000000,0
2,469421,3.300000,0,33,4.000000,5.27,10000000,0
3,30925,26.000000,0,34,5.000000,6.9.0,1000000,0
4,14451,69.000000,0,32,5.000000,19.6.0,1000000,0

In [139]:
ver = []
sum = 0
num = 0
for i in df['Latest Version of App']:
    if i == "Varies with device" or i.startswith('P') or i.startswith('H') or i.startswith('C') or i.startswith('L'):
        ver.append(-1)
    else:
        ver.append(float(i.split(" ")[0][0]))
        sum+=float(i.split(" ")[0][0])
        num+=1
        
avg = sum/num
for i in range(len(ver)):
    if ver[i] == -1:
        ver[i] = avg
df["Latest Version of App"] = ver
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30.000000,0,79,3.000000,3.000000,50000,0
1,292197,25.270663,0,33,4.142857,2.305204,10000000,0
2,469421,3.300000,0,33,4.000000,5.000000,10000000,0
3,30925,26.000000,0,34,5.000000,6.000000,1000000,0
4,14451,69.000000,0,32,5.000000,1.000000,1000000,0

In [144]:
df.Price.unique()

array(['0', '$3.99', '$2.99', '$4.99', '$1.99', '$7.49', '$3.49', '$2.00',
       '$4.49', '$5.99', '$0.99', '$6.99', '$1.59', '$1.49', '$7.99',
       '$6.00'], dtype=object)

In [146]:
price = []
for i in df.Price:
    if i == '0':
        price .append(0.0)
    else:
        price.append(float(i[1:]))
df.Price = price
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,411,30.000000,0.0,79,3.000000,3.000000,50000,0
1,292197,25.270663,0.0,33,4.142857,2.305204,10000000,0
2,469421,3.300000,0.0,33,4.000000,5.000000,10000000,0
3,30925,26.000000,0.0,34,5.000000,6.000000,1000000,0
4,14451,69.000000,0.0,32,5.000000,1.000000,1000000,0

In [147]:
df["App_Names"] = app_names
df.head()

,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content,App_Names
0,411,30.000000,0.0,79,3.000000,3.000000,50000,0,Smart Foods Organic Diet Buddy
1,292197,25.270663,0.0,33,4.142857,2.305204,10000000,0,Google Fit: Health and Activity Tracking
2,469421,3.300000,0.0,33,4.000000,5.000000,10000000,0,Pedometer
3,30925,26.000000,0.0,34,5.000000,6.000000,1000000,0,"Calorie Counter - MyNetDiary, Food Diary Tracker"
4,14451,69.000000,0.0,32,5.000000,1.000000,1000000,0,Map My Hike GPS Hiking

In [148]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

,App_Names,Reviews,Size,Price,Last Updated,Minimum Android Version,Latest Version of App,install,Content
0,Smart Foods Organic Diet Buddy,411,30.000000,0.0,79,3.000000,3.000000,50000,0
1,Google Fit: Health and Activity Tracking,292197,25.270663,0.0,33,4.142857,2.305204,10000000,0
2,Pedometer,469421,3.300000,0.0,33,4.000000,5.000000,10000000,0
3,"Calorie Counter - MyNetDiary, Food Diary Tracker",30925,26.000000,0.0,34,5.000000,6.000000,1000000,0
4,Map My Hike GPS Hiking,14451,69.000000,0.0,32,5.000000,1.000000,1000000,0

In [152]:
df = df.drop([df.columns[-3]],axis=1)
df.head()

,App_Names,Reviews,Size,Price,Last Updated,Minimum Android Version,install,Content
0,Smart Foods Organic Diet Buddy,411,30.000000,0.0,79,3.000000,50000,0
1,Google Fit: Health and Activity Tracking,292197,25.270663,0.0,33,4.142857,10000000,0
2,Pedometer,469421,3.300000,0.0,33,4.000000,10000000,0
3,"Calorie Counter - MyNetDiary, Food Diary Tracker",30925,26.000000,0.0,34,5.000000,1000000,0
4,Map My Hike GPS Hiking,14451,69.000000,0.0,32,5.000000,1000000,0

In [153]:
df.to_csv("./heathapps.csv")

In [150]:
df.Content.unique()

array([0, 1, 2, 3], dtype=int64)

In [154]:
df = pd.read_csv('./normalised_data.csv')
df.head()

,Unnamed: 0,Reviews,Size,Price,Last.Updated,Minimum.Android.Version,install,Content
0,1,-0.189533,0.109448,-0.220231,4.221588,-1.7472,-0.104990,-0.188183
1,2,1.218506,0.000000,-0.220231,-0.489009,0.0000,0.429262,-0.188183
2,3,2.073716,-0.508454,-0.220231,-0.489009,-0.2184,0.429262,-0.188183
3,4,-0.042285,0.016879,-0.220231,-0.386605,1.3104,-0.053981,-0.188183
4,5,-0.121782,1.012002,-0.220231,-0.591414,1.3104,-0.053981,-0.188183

In [155]:
df = df.drop([df.columns[0]], axis=1)
df.head()

,Reviews,Size,Price,Last.Updated,Minimum.Android.Version,install,Content
0,-0.189533,0.109448,-0.220231,4.221588,-1.7472,-0.104990,-0.188183
1,1.218506,0.000000,-0.220231,-0.489009,0.0000,0.429262,-0.188183
2,2.073716,-0.508454,-0.220231,-0.489009,-0.2184,0.429262,-0.188183
3,-0.042285,0.016879,-0.220231,-0.386605,1.3104,-0.053981,-0.188183
4,-0.121782,1.012002,-0.220231,-0.591414,1.3104,-0.053981,-0.188183

In [ ]:
weight = []